<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	
	<bean id="hello"  class="myspring.di.xml.Hello">
		<constructor-arg name="name"  value="Spring"/>
		<constructor-arg name="printer"  ref="printer" />
	</bean>

	<bean id="printer"  class="myspring.di.xml.StringPrinter" />
	<bean id="consolePrinter"   class="myspring.di.xml.ConsolePrinter" />

</beans>
